@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.App {
  scroll-behavior: smooth;
  scrollbar-color:  rgba(0,0, 0, 0.8);
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.2rem;
}
.loader{
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  color: snow;
height: 100vh;
}
.loader img{
  border-radius: 50%;
}
.carousel{
  user-select: none;
  background-color: #33333398;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.img_container{
  width: 100vw;
  height: 100vh;
}

.img_container img{
  display: block;
  width: 100%;
  object-fit: contain;
   
}

.quotes{
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  padding: 2em;
  max-width: 400px;
  /* background-color: rgba(240, 248, 255, 0.438); */
  background-color: rgba(0,0, 0, 0.8);
  box-shadow: 1px 1px 8px #535353;
  border-radius: 5px;
  user-select: none;
}
.quotes p{
  color: snow;
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 6px rgb(143, 143, 143);
}
.quotes .category{
  max-height: 200px;  
  width: 100%;
  /* padding: 0.5em; */
  text-align: center;

}
.quotes button {
  font-family:'Patrick Hand SC', cursive; ;
  font-size: 1.1rem;
  color: rgb(211, 211, 211);
  padding: 0.2em;
  opacity: 0.7;
  outline: none;
  border: none;
  background: none;

}

.quotes button:hover{
  opacity: 1;
  color: snow;
}

li{
  list-style: none;

}
.cat_btn{
  outline: none;
  border: none;
  font-family:'Patrick Hand SC', cursive; 
  font-size: 1.01rem;
  padding: 0.3em 0.5em;
  background: none;
  color: snow;
  /* background-color: rgba(240, 248, 255, 0.411); */
}

.categories{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  overflow-y: auto;
  max-height: 100px;
}

.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes ldio-d4jd6rw09ab {
   0% { transform: translate(14.41px,58.95px) scale(0); }
  25% { transform: translate(14.41px,58.95px) scale(0); }
  50% { transform: translate(14.41px,58.95px) scale(1); }
  75% { transform: translate(58.95px,58.95px) scale(1); }
 100% { transform: translate(103.49000000000001px,58.95px) scale(1); }
}
@keyframes ldio-d4jd6rw09ab-r {
   0% { transform: translate(103.49000000000001px,58.95px) scale(1); }
 100% { transform: translate(103.49000000000001px,58.95px) scale(0); }
}
@keyframes ldio-d4jd6rw09ab-c {
   0% { background: #6a6a6a }
  25% { background: #e2e2e2 }
  50% { background: #bdbdbd }
  75% { background: #979797 }
 100% { background: #6a6a6a }
}
.ldio-d4jd6rw09ab div {
  position: absolute;
  width: 13.100000000000001px;
  height: 13.100000000000001px;
  border-radius: 50%;
  transform: translate(58.95px,58.95px) scale(1);
  background: #6a6a6a;
  animation: ldio-d4jd6rw09ab 1.8518518518518516s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-d4jd6rw09ab div:nth-child(1) {
  background: #979797;
  transform: translate(103.49000000000001px,58.95px) scale(1);
  animation: ldio-d4jd6rw09ab-r 0.4629629629629629s infinite cubic-bezier(0,0.5,0.5,1), ldio-d4jd6rw09ab-c 1.8518518518518516s infinite step-start;
}.ldio-d4jd6rw09ab div:nth-child(2) {
  animation-delay: -0.4629629629629629s;
  background: #6a6a6a;
}.ldio-d4jd6rw09ab div:nth-child(3) {
  animation-delay: -0.9259259259259258s;
  background: #979797;
}.ldio-d4jd6rw09ab div:nth-child(4) {
  animation-delay: -1.3888888888888888s;
  background: #bdbdbd;
}.ldio-d4jd6rw09ab div:nth-child(5) {
  animation-delay: -1.8518518518518516s;
  background: #e2e2e2;
}
.loadingio-spinner-ellipsis-mty16tstggo {
  width: 131px;
  height: 131px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-d4jd6rw09ab {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-d4jd6rw09ab div { box-sizing: content-box; }


@media screen and (max-width: 1000px){

  .quotes{
    padding: 1em;
    max-width: 300px;
  }
  
  .img_container img{
    height: 100%;
    object-fit: cover;
  }

}